/.idea
/vendor
/environments
/tests
/frontend/web/assets
/vagrant
/backend/runtime
/frontend/runtime
/backend/web/assets
/admin/web/assets
/uploads
.htaccess
/composer.lock
/.htaccess
/LICENSE.md
/Python-3.7.1
/Python-3.7.1.tgz
/Vagrantfile
/assets
/console
/tmp
/images
